.hidden{
    display: none;
}
body{
    background-image: linear-gradient(rgb(127 255 212 / 46%), rgb(26 115 232 / 53%));
    margin: 0 auto;
}
.simbolo{
    display: flex;
    margin: 24px 0 0 16px;
}
.simbolo h1{
    display: flex;
    margin: 10px;
    font-size: 20px;
}
.main, .seccion-principal{
    display: flex;
    flex-direction: column;
}
.contenedor-principal{
    height: 22em;
    padding: 0 1em;
    margin-top: 4.5em;
    position: relative;
}
.contenedor-texto{
    width: 100%;
    height: 70%;
    max-height: 100%;
}
.cerrar-ventana{
   background-color: #fefefe; 
   border-radius: 5px;
   border: 1px solid;
   position: absolute;
   top: 10px;
   right: 10px;
}
.cerrar-ventana:hover{
    background-color: red;
    border: 1px solid;
}
#ventana-advertencia1{
    position: absolute;
    background-color: rgb(252 36 36);
    padding: 0.5em;
    margin: 2em;
    border-radius: 0.5em;
    border: 1px solid;
}
  
#ventana-advertencia1 p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

#ventana-advertencia2{
    position: absolute;
    background-color: rgb(252 36 36);
    padding: 0.5em;
    margin: 2em;
    border-radius: 0.5em;
    border: 1px solid;
}
  
#ventana-advertencia2 p {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.contenedor-texto textarea{
    color: black;
    margin: 1em 0 0;
    width: 95%;
    height: 95%;
    line-height: 200%;
    font-size: 1.5em;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    
}
.mensaje-alerta{
    display: flex;
    margin: 20px;
    font-size: 19px;
}
.contenedor-botones{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.btn-encrip-desencrip-copy{
    width:200px;
    background-color: #c2ffeb;
    border-radius: 15px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border:none;
    transition: all 0.5s;
}
.btn-encrip-desencrip-copy span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-encrip-desencrip-copy span:after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn-encrip-desencrip-copy:hover span{
    padding-right: 25px;
}
.btn-encrip-desencrip-copy:hover span:after{
    opacity: 1;
    right: 0;
}
.btn-encrip-desencrip-copy:hover, #btn-copiar:hover{
    background-color: rgb(26 115 232 / 70%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.seccion-derecha{
    background-image: linear-gradient(rgb(26 115 232 / 53%),rgb(127 255 212 / 46%));
    margin: 1em 2em 0.7em 1em;
    height: 27em;
    box-shadow: 24px 24px 16px -6px rgba(0, 0, 0, 0.6);
    border-radius: 32px;
}
.contenedor-encriptador{
    display: none;
    padding: 20px;
    word-wrap: break-word;
    height: 70%;
}
.texto-encriptado{
    color: black;
    max-height: 100%;
    line-height: 200%;
    font-size: 1.5em;
    text-align: center;
    overflow: auto;
}
.contenedor-derecha{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.texto_contenedor{
    padding: 1.2em;
    text-align: center;
    font-size: 1em;
}
#btn-copiar{
    background-color:#c2ffeb;
    margin: 3em auto 0;
    width:200px;
    border-radius: 20px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border:none;
}

#mensaje-copiado{
    font-size: 17px;
    text-align: center;
}

footer img{
    width: 45px;
    height: 45px;
    opacity: 0.7;
}
footer img:hover{
    opacity: 1;
}
.logos{
    text-align: center;
}

@media screen and (min-width:790px){
    .main{
        flex-direction: row;
        height: 86vh;
        justify-content: center;
    }
    .simbolo{
        display: flex;
        margin: 40px 0 0 40px;
        padding: 0;
    }
    .simbolo h1{
        display: flex;
        margin: 10px;
        font-size: 25px;
    }
    .seccion-principal{
        width: 50%;
    }
    .contenedor-principal{
        height: 40%;
    }
    .contenedor-texto{
        padding-left: 5%;
        padding-top: 6em;
        height: 90%;
    }
    .mensaje-alerta{
        padding-left: 6%;
    }
    .contenedor-botones button{
        width: 300px;
    }
    .seccion-derecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        height: 70%;
    }
    .contenedor-encriptador{
        height: 70%;
    }
    .contenedor-img img{
        display: block;
        width: 80%;
        height: 70%;
    }
    .text_contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px 0 50px;
    }
    #mensaje-copiado{
        font-size: 17px;
        text-align: start;
    }

}
@media screen and (min-width:600px){
    .contenedor-botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contenedor-img{
        display: flex;
        justify-content: center;
    }
    .contenedor-img img{
        display: block;

    }
}
@media screen and (max-width: 600px) {
    .contenedor-img img {
      display: none;
    }
    .contenedor-texto {
        width: 90%;
        height: 60%;
    }
    .contenedor-texto textarea {
        font-size: 1.5em;
    }
}